*{
    border: 1px solid red;
}

.Box {
    height: 150px;
    width: 150 px;
    background-color: aliceblue;
    font-size: 30pt;
}

.Parent-container {
    display: flex;
        .Box
        {
            display: flex;
        }
} 